*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu #desple{
    display: none;

}
#menus :hover #desple{
    display: block;

}
#menus{
background-color: red;

}
#menus ul{
    position: absolute;
    top: 30px;
    list-style: none;
    left: 10%;
    margin: 0;
    padding: 0;
}
#menus ul  li{
display: inline-block;
color: white;
text-align: center;
}
#menus ul li a {

    display: block;
    color: rgb(33, 73, 119);
    text-decoration: none;
    padding: 10px 160px;
    text-align: center;
}
#menus ul li a:hover{
background-color: rgb(182, 225, 236); 
}
#logo{
    position: absolute;
    left: 2%;
    top: 0%;
    
}
.bg-animate{
    width: 1000%;
    height: 100vh;
    background: linear-gradient(to right,rgb(255, 255, 255),rgb(255, 255, 255));
    overflow: hidden;
}
.burbuja{
   
    border-radius: 50%;
    background: rgb(166, 236, 240);
    opacity: 40;
    position: absolute;
    bottom: -150;
    font-size: 110%;
   
    animation:burbujas 5s linear infinite ;
}
.burbuja:nth-child(1){
    width: 140px;
    height: 50px;
    left: 5%;
    animation-duration:15s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 5s;
}
.burbuja:nth-child(3){
    width: 90px;
    height: 63px;
    left: 15%;
    animation-duration: 11s;
}
.burbuja:nth-child(4){
    width: 150px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
}
.burbuja:nth-child(5){
    width: 125px;
    height: 55px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 0.1ms;
}
.burbuja:nth-child(6){
    width: 120px;
    height: 50px;
    left: 55%;
    animation-duration: 17s;
    animation-delay: 0.2ms;
}
.burbuja:nth-child(7){
    width: 120px;
    height: 50px;
    left: 55%;
    animation-duration: 10s;
    animation-delay: 0.1ms;
}
.burbuja:nth-child(8){
    width: 120px;
    height: 50px;
    left: 41%;
    animation-duration: 12s;
    animation-delay: 0.2ms;
}
.burbuja:nth-child(9){
    width: 120px;
    height: 50px;
    left: 10%;
    animation-duration: 8s;
    animation-delay: 0.1ms;
}
.burbuja:nth-child(10){
    width: 120px;
    height: 40px;
    left: 21%;
    animation-duration: 4.5s;
    animation-delay: 0.1ms;
}
@keyframes burbujas{
  0%{
     bottom: 0;
     opacity: 0;
   }
   30%{
       transform: translateX(30px);
   }
   50%{
       opacity:.50;

   }
   100%{
       bottom:100vh ;
       opacity: 0;
   }
}

/*menu desplegable */


                  
    .menusito li{
    list-style-type:none;
    position:relative;
    width:120px;
    }
                
    .menusito li a{
    text-decoration:none;
    display:inline-block;
   
   
    border:1px solid rgb(255, 0, 0);
    color:#fff;
    background-color:rgb(255, 255, 255);
    }
            
    .menusito li a:hover{
    color:#000;
    background-color:#fff;
                
    }
    
    .menusito nav li ul{
        display:none;
        position:absolute;
        top:0px;
        left:120px;
    }
            
    .menusito nav li:hover ul{display:grid;}
